.btn {
    margin-top: 270px;
}

.CloseBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(180deg, #B6B6B6 0%, #8E8E96 100%);
    cursor: pointer;
    font-size: 17px;
    border-radius: 20px;
    color: white;
    height: 50px;
    margin-top: 30px;
    display: block;
    width: 80%;
    border: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .CloseBtn:hover {
        background: linear-gradient(180deg, #DADADF 0%, #8E8E96 100%);
        color: #FFFFFF;
    }