body {
    align-items: center;
    background-color: #2D2D36;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.errors {
    display: none;
    border: 2px solid red;
    color: red;
    text-align: center;
    margin: 20px;
}

.show {
    display: block;
}

.form {
    background-color: white;
    border-radius: 20px;
    min-height: 731px;
    padding: 20px;
    width: 360px;
}

.changesforForm {
    min-height: 640px;
}

.formGradient {
    background: linear-gradient(180deg, #FFFFFF 0%, #FBFBFC 50%, #F3F8FE 100%);
}

.language {
    font-size:18px;
    float: right;
    background-color:white;
    border: 0;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #2D2D36;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: center;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textMarginBottom {
    margin-bottom: 80px;
}

.input {
    color: black;
    position: center;
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
    border: 0;
    padding-left:20px;
    font-size: 18px;
    height: 100%;
    outline: 0;
}

.input-container {
    height: 50px;
    position: relative;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    border: 1px solid;
    border-radius: 10px;
    border-color: #B6B6B6;
}

.placeholder {
    color: #2D2D36;
    left: 20px;
    font-size: 19px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 12px;
}

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        color: #494957;
        transform: translateY(-35px) translateX(5px) scale(0.9);
    }

.btn {
    border: 0;
    background: linear-gradient(180deg, #494957 0%, #2D2D36 100%);
    cursor: pointer;
    border-radius: 20px;
    color: white;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
    width: 90%;
}

    .btn:hover {
        background: linear-gradient(180deg, #0197EB 0%, #007EC5 100%);
        color: #FFFFFF;
    }
